<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQkD7Zx50iXiBoNiObkcbmsUXHDm9OH1g</string>
	<key>GCM_SENDER_ID</key>
	<string>62935483043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoPanda</string>
	<key>PROJECT_ID</key>
	<string>eco-panda-2bd29</string>
	<key>STORAGE_BUCKET</key>
	<string>eco-panda-2bd29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62935483043:ios:3cd2493fc65061f15bb516</string>
</dict>
</plist>